# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

watch_file ./devenv/flake.nix
watch_file ./devenv/flake.lock
if ! use flake ./devenv
then
  printf "The development environment could not be built and was therefore not loaded. Make the necessary changes to devenv/flake.nix and press 'Enter' to try again.\n" >&2
fi